footer {
    background-color: var(--purple);
    padding: 2rem;

    font-size: 2rem;
    margin-top: 80px;
}

footer .social-media {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
}