footer {
  background-color: var(--purple);
  padding: 2rem;

  font-size: 2.5rem;
  margin-top: 80px;
}

footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 25px;
}

footer .social-media i {
  color: var(--white);
}
