#header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
}

#header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header .logo-text {
    font-family: "Offside", sans-serif;
    color: var(--white);
    font-weight: normal;
}

/* MENU */

#header .menu {
    cursor: pointer;
    padding: 0.5rem;
}

#header .menu div{
    background-color: var(--white);
    width: 30px;
    height: 3px;

    border-radius: 10px;
}

#header .menu div:not(:last-child) {
    margin-bottom: 3px;
}